[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "ek-scraper"
description = "Simple scraper for Ebay Kleinanzeigen searches with notifications for new ads."
readme = "README.md"
requires-python = ">=3.9"
license = {text = "MIT"}
keywords = ["scraper"]
authors = [
  {name = "Jonas Ehrlich"}, {email = "jonas.ehrlich@gmail.com"},
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
]
dependencies = [
    "aiohttp<4",
    "beautifulsoup4",
    "lxml<5",
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
    "black==22.6.0",
    "pre-commit",
    "types-beautifulsoup4"
]

[project.urls]
homepage = "https://github.com/jonasehrlich/ek-scraper"
repository = "https://github.com/jonasehrlich/ek-scraper"

[project.scripts]
ek-scraper = "ek_scraper.cli:main"

[tool.setuptools]
packages = ["ek_scraper"]

[tool.setuptools.dynamic]
version = {attr = "ek_scraper.__version__.__version__"}

[tool.black]
line-length = 120
